@font-face {
	font-family: 'dsdigi';
	src: url('./ds-digi.woff');

}

@font-face {
	font-family: "JetBrains";
	src: url("./JetBrainsMono.woff") format("woff");
}
@font-face {
	font-family: "TrainOne";
	src: url("./TrainOne-Regular.woff") format("woff");
}

@font-face {
	font-family: "AbrilFatface";
	src: url("./AbrilFatface-Regular.woff") format("woff");
}

@font-face {
	font-family: "HarmonyOS_Sans";
	src: url("./HarmonyOS_Sans.woff") format("woff");
}

@font-face {
	font-family: "Arial";
	src: url("./Arial-Rounded-Bold.woff") format("woff");
}

@font-face {
	font-family: "Bebas";
	src: url("./Bebas.ttf") format("woff");
}

@font-face {
	font-family: "Aldrich";
	src: url("./Aldrich-Regular.woff") format("woff");
}

@font-face {
	font-family: "BungeeHairline";
	src: url("./BungeeHairline-Regular.ttf") format("woff");
}

@font-face {
	font-family: "Expansiva";
	src: url("./Expansiva.otf") format("woff");
}

@font-face {
	font-family: "Merriweather";
	src: url("./Merriweather-Regular.woff") format("woff");
}


@font-face {
	font-family: "Nabla";
	src: url("./Nabla-Regular-VariableFont_EDPT,EHLT.ttf") format("woff");
}

@font-face {
	font-family: "Orbitron";
	src: url("./Orbitron-VariableFont_wght.woff") format("woff");
}

@font-face {
	font-family: "Silkscreen";
	src: url("./Silkscreen-Regular.woff") format("woff");
}

@font-face {
	font-family: "MiSans";
	src: url("./MiSans-Normal.woff") format("woff");
}


.dsdigi {
	font-family: 'dsdigi' !important;
}

/* 
.honglei {
	font-family: 'honglei' !important;
} */