html,
body,
aside,
div,
p,
nav,
a,
i,
ul,
li,
section,
img,
footer {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-size: 12px;
  color: #4d4d4d;
  font-family: Helvetica Neue,Microsoft Yahei;
}
body,.main,.container {
  background: #f1f2f3;
}
/*滚动条*/
::-webkit-scrollbar-track-piece {
  background-color:#f1f2f3;
}
::-webkit-scrollbar {
  width:5px;height:5px;
}
::-webkit-scrollbar-thumb {
  background-color:#C1C1C1;
  border-radius: 3px;
  background-clip:padding-box;
  min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#999;
}
.iconfont {
  color: #6b7386;
  padding-right: 4px;
}
.container .left-bar {
  position: fixed;
  padding: 0 10px;
  background: #fff;
  color: #6b7386;
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 200px;
  transition: all .5s;
}
.container .main {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  margin-left: 200px;
}
.container .main .iconfont {
  font-size: 18px;
  color: #000000;
}
.set-scroll {
  background-color: #494f5e;
  border-radius: 0;
  width: 4px;
}
.left-bar .title {
  color: #d0ad51;
  font-size: 24px;
  height: 60px;
  line-height: 50px;
}
.left-bar .title p {
  text-align: center;
}
.left-bar .nav {
  flex: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.left-bar .nav .item {
  height: 48px;
  line-height: 46px;
  border-top: 2px solid rgba(255, 255, 255, 0.04);
  border-bottom: 2px solid rgba(255, 255, 255, 0.04);
}
.left-bar .nav > .active {
  position: relative;
}
.left-bar .nav > .active .line {
  position: absolute;
  right: 0px;
  height: 30px;
  width: 3px;
  background: #3a85ff;
  z-index: 100000;
  margin-top: 10px;
}
.left-bar .nav-item {
  min-height: 100vh;
}
.left-bar .nav-item::-webkit-scrollbar-track {
  background-color: #494f5e;
  border-radius: 0;
  width: 4px;
}
.left-bar .nav-item::-webkit-scrollbar-thumb {
  background-color: #494f5e;
  border-radius: 0;
  width: 4px;
}
.left-bar .nav-item::-webkit-scrollbar {
  background-color: #494f5e;
  border-radius: 0;
  width: 4px;
}
.left-bar .nav-item li {
  height: 32px;
  line-height: 32px;
  margin: 10px 0;
}
.left-bar .nav-item li > .active,
.left-bar .nav-item li > .active i,
.left-bar .nav-item li:hover a,
.left-bar .nav-item li:hover i {
  color: #2b64a9;
}
.left-bar .nav-item li a {
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #6b7386;
}
.nav .item a {
  color: #b9a79f;
}
.nav .comment {
  position: fixed;
  z-index: 100;
  bottom: 1px;
  width: 200px;
  background: #30333c;
}
.main #mainContent {
  max-width: 1700px;
}
.main .box {
  overflow: hidden;
  margin: 20px 30px;
  background: #fff;
  padding-bottom: 20px;
}
.main .box .sub-category > div {
  padding: 12px 0 0 2.1%;
  font-size: 18px;
}
.main .box .item {
  width: 20%;
  border: 1px solid #e4ecf3;
  box-shadow: 1px 2px 3px #f2f6f8;
  border-radius: 6px;
  background: #fff;
  padding: 10px;
  min-width: 200px;
  margin: 22px 0 0 2.1%;
  float: left;
  overflow: hidden;
  transition: all .3s;
}
.main .box .item:hover {
  transform: translateY(-5px);
}
.main .box .item .no-logo {
  color: #07555d;
  font-weight: bold;
  font-size: 14px;
}
.main .box .item .logo {
  height: 40px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #753f08;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 .1rem;
}
.main .box .item .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
.main .box .item .desc {
  color: gray;
  font-size: 12px;
  padding-top: 10px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.footer {
  margin: 20px 30px;
  bottom: 0;
  background: #fff;
}
.footer .copyright {
  margin: 15px;
  color: #949494;
  font-size: 12px;
}
.footer .copyright p{
	margin: 10px 0;	
}
.footer .copyright a {
  text-decoration: none;
  color: #3a85ff;
}
#menu {
  display: none;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  text-align: center;
}
#menu a {
  color: #3a85ff;
  font-size: 18px;
}
.download a,
.download i {
  color: #b9a79f !important;
}
@media screen and (max-width: 481px) {
  .container .box .item {
    width: 39%;
    min-width: 100px;
  }
  .container .main {
    margin-left: 0;
  }
  .container .left-bar {
    z-index: 999;
    left: -249px;
  }
  #menu {
    display: block;
  }
}
@media screen and (min-width: 482px) {
  .container .box .item {
    width: 90%;
  }
  .container .left-bar {
    left: 0px;
  }
}
@media screen and (min-width: 790px) {
  .container .box .item {
    width: 43%;
  }
}
@media screen and (min-width: 1040px) {
  .container .box .item {
    width: 28%;
  }
}
@media screen and (min-width: 1200px) {
  .container .box .item {
    width: 16%;
  }
}
